:root{
  font-size: 62.5%;
  --primary: #ececec;
  --primaryTrans: #ecececcc;
  --secondary: #282c34;
  --company: #C30E2A;
  --companySecondary: #282828;
  --hightlight: #ececec99;
}

// .lightmode{
//   --primary: #ececec;
//   --secondary: #282c34;
// }

/* .darkmode{
  --primary: #282c34;
  --secondary: #ececec;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--primary);
  color: var(--companySecondary);
  font-size: 1.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: unset;
}

a{
  
  text-decoration: none;
}

.header{
  background-color: var(--company);
  width: 100vw;
  height: 8rem;
  display: flex;
  justify-content: space-between;

  .logo{
    width: 23.5rem;
    margin-left: 2rem;

    img{
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .logo {
      width: 6rem;
      min-width: 6rem;
      height: 6rem;

      margin-top: 1rem;
      overflow: hidden;
      border:#28282855 0.2rem solid;
      border-radius: 100%;

      img{
        width: 25.5rem;
        transform: translateX(-1rem) translateY(-1rem);
      }
    }
  }

  .fastContact{
    width: 23.5rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2rem;

    a{
      margin: 0.3rem;
    }

    i{
      color: var(--secondary);
      font-size: 3.2rem;
      text-decoration: none;
    }

    i:hover{
      color: var(--primary);
    }

    .fb{
      color: #3c60ad;
      font-size: 3.5rem;
    }

    .fb:hover{
      color: #1b6bd4;
    }
  }
}

nav{
  background-color: var(--companySecondary);
  width: 100vw;
  height: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 2;


  a {
    color: var(--primary);
    font-size: 2rem;
    font-weight: 600;
    margin: 0 3rem;
    padding: 0 0.3rem;
    position: relative;
  }
  
  a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: var(--primary);
    bottom: -0.2rem;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
  }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.burger{
  display: none;
}

@media screen and (max-width: 700px) {
  nav{
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.3rem 0;

    .burger{
      display: block;
      align-self: end;
    }

    .burger:hover::before{
      transform: scaleX(0);
    }
  }
}

article{
  width: 80%;
  margin: auto;
}

.carouselContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
    img{
      width: 100%;
    }

    .textContainer{
      background-color: var(--company);
      color: var(--primary);
      min-width: 30rem;
      padding: 0 1rem;
      position: absolute;
      top: 15rem;
      clip-path: polygon(0 0, 100% 1%, 64% 100%, 0% 100%);

      h1{
        width: 85%;
        font-size: 2.2rem;
        margin-right: 2rem;
        padding-left: 1rem;
      }

      p{
        width: 70%;
        margin-right: 2rem;
        font-weight: 500;
        padding-left: 1.1rem;
      }
    }
}

.firstArticle, .secondArticle{
  height: 85vh;
  margin-top: 17vh;
  box-shadow: inset 0.2rem -0.2rem 0.2rem var(--primary);

  .textblock{
    background-color: var(--primaryTrans);
    color: var(--companySecondary);
    width: 100%;
    padding: 3rem 10rem;
    position: sticky;
    top: 68rem;
    z-index: 1;

    p{
      padding: 0.5rem 0;
    }
  }
}

.firstArticle{
  background: url("../public/bg02.jpg") center/cover;
  max-height: 70rem;
}

.secondArticle{
  background: url("../public/bg03.jpg") center/cover;
}


.contactContainer{
  background-color: var(--companySecondary);
  color: var(--primary);
  width: 9rem;
  height: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  position: fixed;
  top: 80%;
  right: 0.5rem;
  border: solid 1px var(--companySecondary);
  border-radius: 1rem;
  z-index: 3;
  
  p{
    margin: auto;
    padding: 0.2rem 0.1rem;
  }

  i{
    color: var(--company);
    font-size: 3rem;
    margin: 0.2rem auto;
    padding: 0.2rem;
  }
}

.contactForm{
  background-color: var(--primary);
  width: 50%;
  height: 52rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.8rem;
  position: fixed;
  top: 18rem;
  right: 25%;
  border: 2px solid var(--companySecondary);
  border-radius: 0.8rem;
  z-index: 5;
  
  select{
    height: 4rem;
    margin: 0.8rem auto 0.2rem;
    padding: 0.5rem 0.2rem;
    text-align: center;
    border-radius: 0.5rem;

    option{
      //padding: 0.3rem 0.5rem;
    }
  }
  .formContainer{
    width: 100%;
    height: 85%;
    //margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;

      input{
        width: 80%;
        height: 4rem;
        padding: 0.8rem;
        border-radius: 0.8rem;
      }

      textarea{
        height: 50%;
        max-height: 50%;
        width: 80%;
        max-width: 80%;
        padding: 0.8rem;
        border-radius: 0.8rem;
      }

      p{
        width: 80%;
      }

      button{
        background-color: var(--company);
        color: var(--primary);
        width: 50%;
        height: 5rem;
        font-size: 2rem;
        font-weight: 600;
        padding: 0.4rem;
        border-radius: 0.8rem;
      }
  }
}

// Service Page

.cardConatiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 1rem 0;

  h2{
    width: 100%;
    font-size: 5rem;
    text-align: center;
  }
  
  span{
    font-size: 8rem;
  }

  .servicecard{

    width: 35rem;
    height: 35rem;
    margin: 1rem;
    border-radius: 0.3rem;
    border-style: groove;
    box-shadow:
    4px 4px 6px var(--companySecondary),
    -1px -1px 3px var(--companySecondary),
    -1px 4px 6px var(--companySecondary),
    4px -1px 6px var(--companySecondary);

    img{
      width: 100%;
    }
  }

  #card1{
    background: url("/bg_innen.jpg") center/cover;
  }

  #card2{
    background: url("/bg01.jpg") center/cover;
  }
  #card3{
    background: url("/bg_außen.jpg") center/cover;
  }
  #card4{
    background: url("/bg01.jpg") center/cover;
  }

  .cardTextblock{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    h3, p{
      background-color: var(--primary);
    }
  }
}

// TEAM

.teamSinglePreview{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2.5rem auto;

  h1, h2{
    width: 100%;
    font-size: 3rem;
    text-align: center;
    margin: 5rem 0 2rem 0;
  }

  h1{
    font-size: 5rem;
  }

  
}

.previesContainer{
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  .personalImage{
    width: 80%;
    height: 80%;
    border: var(--company) solid 0.3rem;
    border-radius: 100%;
    border-style: groove;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
      position: relative;
      top: -6rem;
    }

    .personalName{
      background-color: var(--company);
      color: var(--primary);
      width: 90%;
      height: 6rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 600;
      padding-top: 0.8rem;
      position: relative;
      top: 17.5rem;
      left: 1rem;
      z-index: 1;
    }
  }

  
}

footer{
  background-color: var(--company);
  color: var(--primary);
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;

  .footContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;

    div{
      width: 32%;
      height: 80%;
      padding: 1.5rem;
    }
  }
}


// Mobileansicht

@media screen and (max-width: 1024px) {

  body{
    font-size: 1.4rem;
  }

  .contactForm{
    width: 75%;
    right: 12.5%;
  }

  footer{

    .footContainer{
      width: 90%;

      div{
        width: 48%;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .contactForm{
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .firstArticle, .secondArticle{
    height: 65vh;
    margin-top: 7vh;
  
    .textblock{
   
      padding: 1.5rem 3rem;
      position: sticky;
      top: 36rem;
      z-index: 1;
  
      p{
        padding: 0.5rem 0;
      }
    }
  }

  .contactContainer{
    scale: 0.8;
    top: 85%;
  }

  .contactForm{
    width: 90%;
    height: 60%;
    right: 5%;
    padding: 0;
  

  .formContainer{
    padding: 0.5rem;

      input{
        width: 90%;
        height: 3.5rem;
      }

      textarea{
        width: 90%;
        max-width: 90%;
        height: 50%;
        max-height: 50%;
        padding: 0.8rem;
        border-radius: 0.8rem;
      }

      p{
        width: 90%;
      }

      button{
        width: 90%;
        height: 3rem;
        font-size: 1.6rem;
      }
    }
  }

  footer{

    .footContainer{
      width: 90%;

      div{
        width: 85%;
        padding: 0.5rem;
      }
    }
  }
}